
<!--ion-header>
  <ion-toolbar>
    <ion-title>
      SARA modular 
    </ion-title>
  </ion-toolbar>
</ion-header--> 



<ion-content>
  <!--div class="ion-padding">
    <ion-button href="/survey/samplesurvey">Sample survey (demo)</ion-button> <br>
    <ion-button href="/incentive/aquariumone">Incentive: Aquarium 1</ion-button> <br>
    <ion-button href="/incentive/award-memes" >Incentive: meme</ion-button> <br>
    <ion-button href="/incentive/visualization">Incentive: Life-inisight</ion-button> <br>
  </div-->
  <!-- <app-auth></app-auth>  -->

  
  <app-header  ></app-header>

  <!-- <div *ngIf="isAuthenticated">
  <nav class="navbar navbar-light bg-light" >
    <span class="navbar-brand" [textContent]="userName" ></span>
    <ion-buttons slot="end">
      <ion-button (click)="changeUserName()">Test functionality</ion-button> 
  </ion-buttons>
    <span> <a style="cursor: pointer;" (click)="logout()">logout</a></span>
  </nav>
</div> -->

  <!-- <app-auth *ngIf="!isAuthenticated">  </app-auth> -->
  <app-demo-aquarium *ngIf="render()"></app-demo-aquarium>
  
</ion-content>

